@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron&display=swap");

/* Apply the font to an element */
.timer {
  text-align: center;
  font-size: 350px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.study-timer-btn:disabled {
  cursor: not-allowed;
}
